:root {

  /* Colors: */
  --unnamed-color-3ff414: #3FF414;
  --unnamed-color-86c7f0: #86C7F0;
  --unnamed-color-f7c285: #F7C285;
  --unnamed-color-cbe3f2: #CBE3F2;
  --unnamed-color-f5def3: #F5DEF3;
  --unnamed-color-dedff7: #DEDFF7;
  --unnamed-color-d3e2f4: #D3E2F4;
  --unnamed-color-d8f7d2: #D8F7D2;
  --unnamed-color-e1f4d3: #E1F4D3;
  --unnamed-color-f4d3f3: #F4D3F3;
  --unnamed-color-d3f4ef: #D3F4EF;
  --unnamed-color-ebf4d3: #EBF4D3;
  --unnamed-color-f4ecd3: #F4ECD3;
  --unnamed-color-f4d3d4: #F4D3D4;
  --unnamed-color-d1f5d8: #D1F5D8;
  --unnamed-color-080808: #080808;
  --unnamed-color-d1e7f5: #D1E7F5;
  --unnamed-color-f4e6f2: #F4E6F2;
  --unnamed-color-707070: #707070;
  --unnamed-color-ffffff: #FFFFFF;
  }
